@import "tailwindcss";

* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'clash';
  src: url('/fonts/ClashDisplay-Medium.woff2') format('truetype');
  font-weight: medium;
  font-style: normal;
}

body {
  /* background: var(--background);
  color: var(--foreground); */
  font-family: Arial, Helvetica, sans-serif;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
